# requirements for developing and/or testing quark and the runtime integrations
setuptools>=18
pip>=8
future==0.15.2
pytest
pytest-xdist
tox
pexpect
virtualenv>=13
semantic-version==2.5.0
twine
sphinx-better-theme
docopt
sphinx
# flake8 decided to ignore setup.cfg. 3.0.3 may fix this, currently there's only 3.0.2.
flake8<3.0.0
pylint
parsimonious
# packages needed for target python testing
six
