# requirements for developing and/or testing quark and the runtime integrations
setuptools>=18
pip>=8
ws4py==0.3.4
pytest
pexpect
virtualenv>=13
semantic-version==2.5.0
twine
sphinx-better-theme
docopt
sphinx
