**/node_modules/
slack/java/pom.xml
slack/java/src/main/java/io/datawire/quark_runtime.java
slack/java/src/main/java/slack/Channel.java
slack/java/src/main/java/slack/ChannelArchive.java
slack/java/src/main/java/slack/ChannelCreated.java
slack/java/src/main/java/slack/ChannelDeleted.java
slack/java/src/main/java/slack/ChannelHistoryChanged.java
slack/java/src/main/java/slack/ChannelJoined.java
slack/java/src/main/java/slack/ChannelLeft.java
slack/java/src/main/java/slack/ChannelMarked.java
slack/java/src/main/java/slack/ChannelRename.java
slack/java/src/main/java/slack/ChannelUnarchive.java
slack/java/src/main/java/slack/Client.java
slack/java/src/main/java/slack/Edited.java
slack/java/src/main/java/slack/Hello.java
slack/java/src/main/java/slack/Message.java
slack/java/src/main/java/slack/SlackError.java
slack/java/src/main/java/slack/SlackEvent.java
slack/java/src/main/java/slack/SlackHandler.java
slack/java/src/main/java/slack/User.java
slack/java/src/main/java/slack/UserTyping.java
slack/js/node_modules/quark_runtime.js
slack/js/node_modules/quark_node_runtime.js
slack/js/slack/index.js
slack/js/slack/package.json
slack/js/slack/README.md
slack/py/docs/_static/.keep
slack/py/docs/_templates/.keep
slack/py/docs/conf.py
slack/py/docs/index.rst
slack/py/quark_runtime.py
slack/py/setup.py
slack/py/slack/__init__.py
